[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia 1. Entorno Oracle sobre Docker - Google Drive
Type=Link
URL=https://drive.google.com/drive/folders/1Eft0hkxEtk5hJsfNofBkKxZimTccqwHH
Icon=text-html
Name[es_ES]=Entorno Oracle sobre Docker - Google Drive - Diapositivas
